html {
    font-size: 16px;
}
/* Menu */
.navbar {
    background-color: #2a50d5;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

.menu {
    display: inline-block;
    height: 100%;
    font-size: 0;
    width: 1135px;
    margin: 0 auto;
}

.menu > li {
    display: inline-block;
    font-size: 0.9375rem;
    border-right: 1px solid #fff;
}

.menu > li:last-child {
    border-right: none;
}

.menu > li a::before {
    content: "\25B6";
}

.menu > li > a {
    display: inline-block;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.menu > li:hover > a {
    background-color: white;
    color: #2a50d5;
}

.menu > li:active a {
    background-color: violet;
}
